@import "tailwindcss";

:root {
	color-scheme: light;
}

@theme {
	/* --display-title-1: 72px;
  --display-title-2: 64px;
  --display-title-3: 56px;
  --display-title-4: 48px;
  --display-title-5: 40px;

  --heading-title-1: 44px;
  --heading-title-2: 36px;
  --heading-title-3: 28px;
  --heading-title-4: 20px;

  --text-body-large: 18px;
  --text-body-medium: 16px;
  --text-body-small: 14px;
  --text-body-smaller: 12px; */

	--color-primary-800: #572500;
	--color-primary-700: #8a3b00;
	--color-primary-600: #bd5000;
	--color-primary-500: #f26700;
	--color-primary-400: #ff8124;
	--color-primary-300: #ff9e57;
	--color-primary-200: #ffbc8a;
	--color-primary-100: #ffbf8f;
	--color-primary-50: #ffdcc2;
	--color-primary-40: #fff9f5;

	--color-gray-900: #1f1f1f;
	--color-gray-800: #303030;
	--color-gray-700: #4a4a4a;
	--color-gray-600: #636363;
	--color-gray-500: #7d7d7d;
	--color-gray-400: #969696;
	--color-gray-300: #b0b0b0;
	--color-gray-200: #c9c9c9;
	--color-gray-100: #e3e3e3;
	--color-gray-50: #f2f2f2;
	--color-gray-40: #fcfcfc;

	--color-red-500: #f82d0c;
	--color-red-600: #c0392b;

	--color-green-500: #4bd426;
	--color-green-600: #16714c;
	--color-green-50: #f0fbf6;

	--color-yellow-500: #f5bf23;

	--shadow-card: 5px 7px 58px 0 rgba(31, 31, 31, 0.12);
	--shadow-card-light: 5px 7px 58px 0 rgba(31, 31, 31, 0.08);
	--shadow-orange-glow: 1px 1px 9px 0 rgba(242, 103, 0, 0.36);
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	color: var(--color-gray-900);
	background-color: var(--color-gray-40);
}
